<div class="container">
  <h1>Welcome to Racer World</h1>
  <p>Please enter your name:</p>

  <form name='player' action='/play' method='post'>
    Player 1:
    <input type='text' name='p1'>
    Player 2:
    <input type='text' name='p2'><br><br>
    <input type='submit' name='Start' value='Off to the race track!'>
  </form>

</div>

