<div class="container">
  <h1>Welcome to Racer World</h1>
  <p>Please enter you name:</p>

  <form name='player' action='/play' method='post'>
    Player 1:
    <input type='text' name='p1'>
    Player 2:
    <input type='text' name='p2'>
    <input type='submit' name='Start'>
  </form>

</div>

